# File systems & IDE
.vscode/
.DS_Store

# Ignore dbt artifacts
target/
dbt_packages/
logs/
.env

# Ignore the dbt virtual environment folder
dbt-env/

# ignore dbt project configuration file
dbt_project.yml

# Ignore csv files in the seeds folder
seeds/*.csv